* {
  font-family: "Barlow Semi Condensed", sans-serif;
}
.first-half {
  overflow: hidden;
  z-index: 1;
  color: black;
}
body {
  height: 100vh;
  width: 100%;
  background-color: seashell;
  color: black;
}

.about-us-heading {
  position: absolute;
  font-size: 50px;
  top: 200px;
  left: 230px;
}

nav a {
  text-decoration: none;
}
.about-us-paragraph {
  position: absolute;
  font-size: 25px;
  top: 300px;
  width: 500px;
  left: 230px;
}

.about-us {
  width: 600px;
  height: 500px;
  margin-left: 200px;
  margin-top: 50px;
  background-color: rgb(65, 65, 65, 0.05);
}

.about-image {
  width: 400px;
  height: 500px;
  margin-left: 40em;
}

@media (max-width: 550px) {
  * {
    font-family: "Barlow Semi Condensed", sans-serif;
  }

  .container {
    width: 110em;
  }
  .header {
    display: flex;
    justify-content: space-between;
  }
  .nav {
    width: 150em;
    margin-left: 100px;
  }
  .title {
    width: 200px;
  }

  .about-us {
    height: 60em;
    width: 50em;
  }

  .about-us-paragraph {
    font-size: 40px;
    width: 11em;
    margin-top: 30px;
  }

  .about-image {
    width: 40em;
    height: 60em;
    margin-left: 55em;
  }
}
