* {
  font-family: "Barlow Semi Condensed", sans-serif;
}

.container {
  height: 100%;
  width: 100%;
  background-color: seashell;
}
.map {
  width: 500px;
  height: 50vh;
  margin-top: 380px;
  margin-left: 50px;
  border-radius: 5px;
}

.connect {
  position: absolute;
  left: 460px;
  font-size: 70px;
  top: 150px;
  margin-bottom: 50px;
  display: block;
  color: black;
}

.location {
  position: absolute;
  bottom: 0px;
  top: 200px;
  left: 120px;
  margin-top: 100px;
  height: 150px;
  color: black;
  background-color: rgb(31, 30, 30, 0.02);
}

.HQ {
  font-size: 25px;
  width: 260px;
  left: 100px;
}

.platforms {
  position: absolute;
  bottom: 0px;
  right: 400px;
}

.images {
  height: 60px;
  width: 60px;
  bottom: 0px;
  margin: 10px;
}

.icons {
  position: absolute;
  top: 300px;
  right: 300px;
  height: 130px;
  width: 300px;
  color: black;
}

.twitter {
  bottom: 0px;
  height: 80px;
  width: 80px;
  margin: 10px;
}

.social-heading {
  position: absolute;
  margin-top: 130px;
  left: 28em;
}

.help {
  position: absolute;
  top: 580px;
  left: 860px;
  color: black;
}

.button {
  margin-left: 10px;
  margin-top: 30px;
  color: white;
  background-color: mediumvioletred;
  width: 140px;
  height: 35px;
  border-radius: 3%;
}

@media (max-width: 550px) {
  * {
    font-family: "Barlow Semi Condensed", sans-serif;
  }

  nav {
    margin-left: 25em;
  }

  nav a {
    font-size: 50px;
  }
  .container {
    width: 135em;
    height: 190em;
  }

  .connect {
    width: 800px;
    font-size: 100px;
    margin-left: 100px;
  }

  .nav {
    margin-left: 80px;
  }

  .location {
    width: 550px;
    height: 300px;
    margin-top: 180px;
  }

  .HQ-head {
    font-size: 50px;
    width: 500px;
  }
  .HQ {
    font-size: 50px;
    width: 500px;
  }

  .map {
    margin-top: 700px;
    height: 800px;
    width: 900px;
  }

  .help {
    margin-left: 300px;
    margin-top: 400px;
  }

  .support {
    font-size: 60px;
  }

  .button {
    margin-left: 10px;
    margin-top: 30px;
    color: white;
    background-color: mediumvioletred;
    width: 300px;
    height: 50px;
    border-radius: 3%;
    font-size: 40px;
  }
  .icons {
    display: absolute;
    left: 1100px;
    top: 500px;
  }

  .social-heading {
    display: none;
  }

  .images {
    size: 90px;
  }
}
