* {
  font-family: "Barlow Semi Condensed", sans-serif;
}
.first-half {
  height: 100vh;
  width: 100%;
  background-image: url("../img/replacement.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  z-index: 1;
  color: black;
  background-color: white;
}

.nav a {
  text-decoration: none;
  margin-right: 20px;
}

.welcome {
  position: absolute;
  bottom: 250px;
  left: 0;
  width: 600px;
  padding-left: 30px;
  color: seashell;
  font-size: 30px;
  font-weight: bold;
  font-family: "Barlow Semi Condensed", sans-serif;
  overflow: hidden;
  border-right: 0.05em solid gray;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.1em;
  animation: typing 3s steps(30, end), blink-caret 0.5s step-start none;
  margin-bottom: 30px;
}

@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 90%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  90% {
    border-color: gray;
  }
}

.inventory-container-1 {
  display: flex;
  justify-content: space-evenly;
  /* border: solid cornflowerblue; */
  height: 600px;
  margin-top: 0px;
  background-color: seashell;
}

.inventory-container-2 {
  display: flex;
  justify-content: space-evenly;
  /* border: solid orange; */
  height: 600px;
  background-color: seashell;
}

.car-image {
  border-radius: 10px;
  height: 200px;
  width: 460px;
  border: 1px black solid;
  margin-left: 30px;
}

.car-descrip {
  height: 250px;
  width: 500px;
  background-color: rgba(163, 154, 154, 0.03);
}

.car {
  width: 510px;
  height: 520px;
  margin-top: 30px;
  border: 1px black solid;
  border-radius: 20px;
  background-color: white;

  padding-top: 30px;
}

ul {
  font-size: 25px;
  list-style: none;
}

li {
  margin-top: 15px;
}
.car-name {
  margin-left: 20px;
}

button {
  color: black;
  width: 140px;
  height: 35px;
  border-radius: 3%;
  margin-left: 170px;
}

button:hover {
  background-color: mediumvioletred;
}

ul {
  margin-left: 130px;
}

.car-name {
  margin-left: 150px;
}

@media (max-width: 550px) {
  * {
    font-family: "Barlow Semi Condensed", sans-serif;
  }

  .container {
    width: 110em;
  }

  .inventory {
    display: flex;
    flex-direction: column;
    border: solid red 2px;
  }

  .inventory-container-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200em;
  }

  .inventory-container-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200em;
  }

  .car {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 110em;
    height: 90em;
  }

  .car-image {
    width: 85em;
    height: 40em;
  }

  .car-descrip {
    font-size: 65px;
    width: 20em;
  }

  li {
    font-size: 60px;
    margin-left: 270px;
  }

  button {
    color: black;
    background-color: white;
    width: 290px;
    font-size: 50px;
    height: 110px;
    border-radius: 3%;
    margin-top: 320px;
    margin-right: 6em;
  }

  buttom:hover {
    background-color: mediumvioletred;
  }

  .car-name {
    margin-left: 300px;
  }

  .header {
    width: 100vh;
    height: 100vh;
  }
  .first-half {
    height: 100%;
    width: 100%;
    background-image: url("../img/replacement.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    z-index: 1;
    color: black;
    background-color: white;
  }

  .welcome-div {
    display: absolute;
    bottom: -400px;
  }
  .welcome {
    margin-top: 700px;
    right: 00px;
    width: 22em;
    padding-left: 30px;
    font-size: 40px;
    font-weight: bold;
    font-family: "Barlow Semi Condensed", sans-serif;
    overflow: hidden;
    border-right: 0.05em solid gray;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.1em;
    animation: typing 2s steps(30, end), blink-caret 0.5s step-start none;
    margin-bottom: 30px;
  }

  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    90% {
      border-color: gray;
    }
  }

  @keyframes typing {
    from {
      width: 0%;
    }
    to {
      width: 90%;
    }
  }

  nav {
    display: flex;
  }

  /* The typewriter cursor effect
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    100% {
      border-color: gray;
    }
  } */
}
