.rent-car {
  font-size: 30px;
  margin-bottom: 50px;
  margin-top: 50px;
  margin-left: 60px;
  color: lightgrey;
  width: 250px;
}

.rent-now {
  margin-bottom: 40px;
  margin-top: 150px;
  color: white;
  background-color: mediumvioletred;
  width: 140px;
  height: 35px;
  border-radius: 3%;
}

.about-company {
  width: 50px;
  margin-left: 500px;
  margin-bottom: 50px;
  font: bold;
  font-size: 25px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.about-us {
  margin-top: 0px;
  margin-left: 0px;
  color: white;
  background-color: mediumvioletred;
  width: 140px;
  height: 35px;
  border-radius: 3%;
}

.about-us-div {
  margin-top: 50px;
  margin-left: 90px;
  display: flex;
  justify-content: space-around;
}

.contact {
  margin-top: 0px;
  margin-left: 0px;
  color: white;
  background-color: mediumvioletred;
  width: 140px;
  height: 35px;
  border-radius: 3%;
}

.about-company-sentence {
  width: 500px;
  margin-top: 300px;
  margin-bottom: 100px;
  margin-right: 300px;
  font-size: 30px;
}

.first-half {
  border: 1px solid black;
  background-image: url("../img/img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 750px;
}

.second-half {
  display: flex;
  flex-direction: row;
  margin-left: 0px;
  justify-content: flex-start;
  margin-top: 40px;
  /* border: 1px solid black; */
  background-color: mistyrose;
}

.second-half-1 {
  margin-left: 35px;
  font-size: 70px;
  width: 50px;
}
.second-pg-img {
  height: 500px;
  width: 600px;
  margin-left: 0px;
}

.second-half-2 {
  margin-top: 50px;
  width: 600px;
  font-size: 25px;
  margin-left: 40px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.statements {
  flex-direction: row;
  /* border: 1px solid red; */

  margin: 0;
}

.logo1 {
  color: white;
  font-size: 60px;
}

.third-half {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}
.third-pic {
  height: 500px;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 50px;
  height: 800px;
  width: 500px;
}

.why {
  font-size: 70px;
  width: 50px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.reasons {
  display: flex;
  width: 800px;
  margin-top: 300px;
  justify-content: center;
  /* border: 1px salmon solid; */
  flex-direction: row;
}

.reason1 {
  margin-top: 50px;
  margin-bottom: 0px;
  width: 300px;
}

.percentage-logo {
  height: 70px;
  width: 70px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.low-price-heading {
  margin-bottom: 20px;
}

.customer-img {
  margin-top: 45px;
  height: 90px;
  width: 200px;
  margin-bottom: 5px;
}

.descrip-2 {
  margin-top: 20px;
}

.third-half {
  background-color: mistyrose;
  color: black;
}
.right-half {
  /* border: solid black 1px; */
  display: flex;
  margin: 0;
  justify-content: flex-start;
  width: 885px;
}

/* @media screen (width: 500px) {
} */

.reasons-first-half {
  /* border: solid blue 1px; */
  width: 600px;
}

.reasons-second-half {
  /* border: solid purple 1px; */
}
