body {
  width: 100%;
}

.container {
  width: 90em;
}
.rent-car {
  font-size: 30px;
  margin-bottom: 50px;
  margin-top: 50px;
  margin-left: 60px;
  color: white;
  width: 250px;
}

.rent-now {
  margin-bottom: 40px;
  margin-top: 150px;
  color: white;
  background-color: mediumvioletred;
  width: 140px;
  height: 35px;
  border-radius: 3%;
}

.about-company {
  width: 50px;
  margin-left: 500px;
  margin-bottom: 50px;
  font: bold;
  font-size: 25px;
}
.about-us {
  margin-top: 0px;
  margin-left: 0px;
  color: white;
  background-color: mediumvioletred;
  width: 140px;
  height: 35px;
  border-radius: 3%;
}

.about-us-div {
  margin-top: 50px;
  margin-left: 90px;
  display: flex;
  justify-content: space-around;
}

.contact {
  margin-top: 0px;
  margin-left: 0px;
  color: white;
  background-color: mediumvioletred;
  width: 140px;
  height: 35px;
  border-radius: 3%;
}

.about-company-sentence {
  width: 500px;
  margin-top: 300px;
  margin-bottom: 100px;
  margin-right: 300px;
  font-size: 30px;
}

.first-half {
  border: 1px solid black;
  background-image: url("../img/light-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 750px;
  width: 100%;
}

.second-half {
  display: flex;
  flex-direction: row;
  margin-left: 0px;
  justify-content: flex-start;
  margin-top: 40px;
  /* border: 1px solid black; */
  background-color: seashell;
  width: 90em;
}

.second-half-1 {
  margin-left: 35px;
  font-size: 70px;
  width: 50px;
}
.second-pg-img {
  height: 500px;
  width: 600px;
  margin-left: 0px;
}

.second-half-2 {
  margin-top: 50px;
  width: 600px;
  font-size: 25px;
  margin-left: 40px;
}

.statements {
  flex-direction: row;
  /* border: 1px solid red; */

  margin: 0;
}

.logo1 {
  color: white;
  font-size: 60px;
}

.third-half {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}
.third-pic {
  height: 500px;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 50px;
  height: 800px;
  width: 500px;
}

.why {
  font-size: 70px;
  width: 50px;
}

.reasons {
  display: flex;
  width: 800px;
  margin-top: 300px;
  justify-content: center;
  /* border: 1px salmon solid; */
  flex-direction: row;
}

.reason1 {
  margin-top: 50px;
  margin-bottom: 0px;
  width: 300px;
}

.percentage-logo {
  height: 70px;
  width: 70px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.low-price-heading {
  margin-bottom: 20px;
}

.customer-img {
  margin-top: 45px;
  height: 90px;
  width: 200px;
  margin-bottom: 5px;
}

.descrip-2 {
  margin-top: 20px;
}

.third-half {
  background-color: seashell;
  color: black;
  width: 90em;
}
.right-half {
  display: flex;
  margin: 0;
  justify-content: flex-start;
  width: 885px;
}

.rem {
}
label [for="toggle"] {
  position: fixed;
  top: 25px;
  left: 25px;
  color: black;
  z-index: 6;
  font-size: 3rem;
}

.navigation--responsive {
  display: none;
}

#toggle {
  display: none;
}
@media (max-width: 500px) {
  body {
    width: 100%;
  }

  .heading {
    font-size: 80px;
    width: 7em;
    font-weight: bold;
  }

  .rent-now {
    color: white;
    background-color: mediumvioletred;
    width: 250px;
    height: 35px;
    font-size: 30px;
    height: 65px;
    border-radius: 3%;
  }
  .container {
    width: 100%;
  }
  .first-half {
    width: 100%;
  }

  .second-half {
    width: 100%;
  }

  .second-half-1 {
    width: 8em;
    font-size: 7em;
    margin-left: 2em;
  }

  .second-half-2 {
    width: 18em;
    font-size: 4em;
    margin-top: 2em;
    margin-right: 3em;
  }

  .about-us-div {
    width: 60em;
    margin-top: 200px;
  }
  .about-us {
    margin-top: 0px;
    margin-left: 0px;
    color: white;
    background-color: mediumvioletred;
    height: 75px;
    border-radius: 3%;
    margin-left: 30px;
    font-size: 30px;
    width: 250px;
  }

  .contact {
    margin-top: 0px;
    margin-left: 200px;
    color: white;
    background-color: mediumvioletred;
    width: 250px;
    height: 35px;
    font-size: 30px;
    height: 75px;
    border-radius: 3%;
  }
  .second-pg-img {
    height: 60em;
    width: 35em;
  }

  .statements {
    height: 60em;
    width: 18em;
  }

  .third-half {
    width: 100%;
    background-color: seashell;
    display: flex;
    justify-content: center;
  }
  .right-half {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .reasons {
    /* border: solid black 1px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70em;
    width: 100%;
  }

  .reasons-first-half {
    display: flex;
    /* border: red 3px solid; */
    width: 32em;
    align-items: center;
    justify-content: center;
    height: 40em;
  }

  .reasons-second-half {
    display: flex;
    /* border: blue 3px solid; */

    width: 32em;
    height: 40em;
    align-items: center;
    justify-content: center;
  }

  .reason1 {
    /* border: turquoise 1px solid; */
    margin-right: 25em;
    margin-top: 3em;
  }

  .reason3 {
    margin-bottom: 5em;
    width: 50em;
  }

  .why-div {
    position: absolute;
    width: 50em;
    top: 120em;
    left: 25em;
    /* border: orangered 1px solid; */
    height: 10em;
  }
  .why {
    width: 10em;

    font-size: 120px;
  }

  .descrip-3 {
    font-size: 55px;
    width: 13em;
    margin-right: 2em;
    margin-top: 0.5em;
  }

  .descrip-2 {
    width: 500px;
    margin-top: 20px;
    font-size: 55px;
    width: 9em;
  }

  .third-pic {
    /* border: greenyellow 2px solid; */
    display: none;
    height: 120em;
    margin: 0;
    width: 65em;
  }

  .res {
    font-size: 50px;
  }

  .reason2 {
    margin-bottom: 80px;
  }
  /* svg.hamburger {
    display: block;
  }

  .main-nvigation {
    display: none;
  }
  .navigation--responsive {
    display: block;
    background: linear-gradient(to top, #be93c5, #7bc6cc);
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 50vh;
    margin-right: 500px;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    transition: top 1s;
  }

  nav {
    display: none;
  }
  .navigation--responsive ul {
    display: block;
    list-style: none;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin: 85px 0 0 0;
    padding: 0;
  }
  .navigation--responsive ul li {
    margin: 0;
    padding: 0;
  }

  .navigation--responsive li a {
    padding: 50px 20px 50px 30px;
    text-decoration: none;
    color: black;
    font-family: "Barlow Semi Condensed", sans-serif;
  }

  #toggle:checked ~ .navigation--responsive {
    top: 0vh;
  } */
}
